body{
	
	background-attachment: 	fixed;
	background-image: 		url('../img/background.jpg');
	background-position: 	center;
	
}

div#content{
	
	border-color: 	rgba( 0, 0, 0, 0.4 );
	border-style:	solid;
	border-width: 	34px;
	height:			100%;
	width:			100% - 20px;
	
}

div#contentBody{
	
	background-color: 	rgba( 0, 0, 0, 0.4 );
	color:				#BDF;
	font-family:		Arial, Helvetica, sans-serif;
	font-size:			20px;
	
}

div#contentHeader{
	
	height:				75px;
	overflow:			hidden;
	position:			relative;
	width: 				100%;
	
}

div#contentHeaderPadding{

	background-color: 	rgba( 0, 0, 0, 0.4 );
	display:			inline;
	height:				75px;
	position:			absolute;
	width:				100%;
	
}

div#contentHeaderImage.whatWeDoHeader{

	width: 675px;
	height: 75px;
	background-image:	url( '../img/whatWeDo.png' );	
}

div#contentHeaderImage{

	display:			inline-block;	
	margin:				0px;
	padding:			0px;
	
}

div#header{
	
	display:			inline-block;
	height:				150px;
	overflow:			hidden;
	width: 				100%;
	position: 			relative;

	border-color:			#000;
	border-style:			solid;
	border-bottom-width:	1px;
	
}

div#headerImageLeftPadding{
	
	display:			inline-block;
	background-color:   rgba( 0, 0, 0, 0.4 );
	width: 				45px;
	height:				100%;
	
}

div#headerImage{

	display:			inline-block;
	margin:				0px;
	padding:			0px;
	background-image: 	url('../img/header.png');
	width:				412px;
	height:				150px;
}

div#innerContent{
		
	border-color: 		#000;
	height:				100% - 5px;
	width:				100% - 5px;
	border-width: 		5px;
	border-style:		solid;
	
}

div#innerContentBorder{

	border-color:	#000;
	border-width:	1px;
	border-style:	solid;	
	padding:		14px;
	
}

div#innerContentPadding{
		
	border-color: 		rgba( 0, 0, 0, 0.4 );
	height:				100% - 5px;
	width:				100% - 5px;
	border-width: 		34px;
	border-style:		solid;
	
}

div.lastMenuSpacer{
	
	background-color: 	rgba( 0, 0, 0, 0.4 );
	display:			inline;
	height:				100%;
	position:			absolute;
	width:				100%;
	
}

div#menu{
	
	display:		inline-block;
	border-color:	#000;
	border-style:	solid;
	border-bottom-width:	1px;
	border-top-width:	1px;
	margin-top:		10px;
	margin-bottom:	10px;
	min-width:		200%;
	overflow:		hidden;
	position: 		relative;
	height:			34px;
	width:			100%;
	
}

div#menuContainer{
	
	overflow:hidden;
	width:100%;
		
}

div.menuBar{
	
	background-color: 	rgba( 0, 0, 0, 0.4 );
	height:				10px;
	width:				100%;
	
}

div.menuSpacer{

	background-color: 	rgba( 0, 0, 0, 0.4 );
	display:			inline-block;
	height:				34px;
	width:				2%;	
	
}

div#outerContentBorder{

	border-color:	#000;
	border-style:	solid;
	border-bottom-width:	1px;
	border-top-width:	1px;
	
}

div#rightHeaderPad{
	
	background-color: 	rgba( 0, 0, 0, 0.4 );
	display:			inline;
	height:				100%;
	margin:				0px;
	padding:			0px;
	position:			absolute;
	width: 				100%;
	
}

img#headerImage{

	display:			inline-block;
	border-color: 		rgba( 0, 0, 0, 0.4 );
	border-left-width: 	45px;
	border-style: 		solid;
	margin:				0px;
	padding:			0px;
	
}

img.howWeDoIt{	
}

img.howYouCanHelp{
}

img.menuImage:hover {
	
	background-position: 0 0;

}

img.whatWeDo{
}

img.whyWeDoIt{	
}

.hidden{
	display: none;
}

.whatWeDo{
	background-image: 	url('../img/menu/whatWeDo.png');
    cursor:				pointer;
    display:			inline-block;
	height:				34px;
	width:				130px;
}
.whatWeDo:hover{ 
	background-image: url('../img/menu/highlighted/whatWeDo.png'); 
}

.whyWeDoIt{
	background-image: 	url('../img/menu/whyWeDoIt.png');
    cursor:				pointer;
    display:			inline-block;
	height:				34px;
	width:				145px;
}
.whyWeDoIt:hover{ 
	background-image: url('../img/menu/highlighted/whyWeDoIt.png'); 
}


.howWeDoIt{
	background-image: 	url('../img/menu/howWeDoIt.png');
    cursor:				pointer;
    display:			inline-block;
	height:				34px;
	width:				144px;
}
.howWeDoIt:hover{ 
	background-image: url('../img/menu/highlighted/howWeDoIt.png'); 
}

.howYouCanHelp{
	background-image: 	url('../img/menu/howYouCanHelp.png');
    cursor:				pointer;
    display:			inline-block;
	height:				34px;
	width:				199px;
}
.howYouCanHelp:hover{ 
	background-image: url('../img/menu/highlighted/howYouCanHelp.png'); 
}







